<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Past Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/events.css"/>
</head>
<body>

    <div class="row">
        <div class="col-12 col-md-6 box-1">
            <br>
            <center>
                <h3>Create Event</h3>
            </center>
            <br>
            <div>
                <form action="/addpastevents" method="POST"  enctype="multipart/form-data" style="margin-left: 2%;">
                    <div class="form-group row">
                        <label for="eventname" class="col-md-4 col-form-label"
                            ><b>Event Name: </b></label
                        >
                        <div class="col-md-6">
                            <input
                                type="text"
                                class="form-control"
                                id="eventname"
                                placeholder="Event Name"
                                name="eventname"
                                required
                            />
                            <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date" class="col-md-4 col-form-label"
                            ><b>Event date: </b></label
                        >
                        <div class="col-md-6">
                            <input
                                type="text"
                                class="form-control"
                                id="date"
                                placeholder="DD-MM-YYYY"
                                name="date"
                                required
                            />
                            <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="desc" class="col-md-4 col-form-label"
                            ><b>Event Description: </b></label
                        >
                        <div class="col-md-6">
                            <textarea
                            class="form-control"
                            id="desc"
                            name="desc"
                            rows="5"
                            placeholder="Description"
                            required
                        ></textarea>
                            <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image" class="col-md-4 col-form-label label-1"
                            ><b>Image: </b></label
                        >
                        <div class="col-md-7">
                          <input type="file" id="image"
                          name="image" value="" required class="form-control">
                            <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                        </div>
                    </div>
                    
                    <button class="btn submit btn-primary">
                        Submit
                    </button>
                </form>
                <br>
            </div>
        </div>
        <div class="col-12 col-md-5 mar">
            <div>
                <form class="needs-validation  box-2" novalidate id="user-form" action="/delpast" method="POST">
                    <br>
                    <center>
                        <h3>Delete Event</h3>
                    </center>
                    <br>
                    <div class="form-group row">
                        <label for="eventname1" class="col-md-4 col-form-label label-1"
                            ><b>Event Name: </b></label
                        >
                        <div class="col-md-7">
                            <input
                                type="text"
                                class="form-control"
                                id="eventname1"
                                placeholder="Event Name"
                                name="eventname1"
                                required
                            />
                            <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                        </div>
                    </div>
                    <button class="btn submit btn-danger submit-1" id="delete-button">
                        Delete
                    </button>
                </form>
            </div>
            <br>
            <br>
            <div>
                <form class="needs-validation  box-2" novalidate id="user-form" action="/uppast" method="POST">
                    <br>
                    <center>
                        <h3>Update Event</h3>
                    </center>
                    <br>
                    <div class="form-group row">
                        <label for="eventname2" class="col-md-4 col-form-label label-1"
                            ><b>Event Name: </b></label
                        >
                        <div class="col-md-7">
                            <input
                                type="text"
                                class="form-control"
                                id="eventname2"
                                placeholder="Event Name"
                                name="eventname2"
                                required
                            />
                            <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                        </div>
                    </div>
                    <button class="btn submit btn-success submit-1" id="delete-button">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="/scripts/controllers/marketplaceController.js" type="module"></script>
</body>
</html>